<frame id="FRAME_MENU">
	<quad z-index="-2" size="110 50" halign="center" valign="top" style="Bgs1" substyle="BgTitleGlow" pos="0 25"/>
	<quad pos="0 0" z-index="-1" size="110 50" bgcolor="FFFA" halign="center" valign="center" style="Bgs1" substyle="BgColorContour" opacity=".25" hidden="1"/>
	<quad pos="0 22" z-index="0" size="88 20" bgcolor="FFFA" image="file://Media/Images/Challenge.png" halign="center"/>
	<quad pos="0.5 21.5" z-index="0" size="88 20" bgcolor="FFFA" image="file://Media/Images/Challenge.png" halign="center" modulatecolor="036"/>
	<label pos="35 30" z-index="0" size="30 5" text="{{{{MADE_BY}}}} $i$o$nBIGBANG1112" halign="center" textsize="1.5" textemboss="1" textfont="RajdhaniMono" scriptevents="1" style="TextButtonMedium"/>
	<quad pos="-65 -15" z-index="0" size="10 10" bgcolor="FFFA" image="file://Media/Images/Sign.png" url="https://bigbang1112.eu/youtube"/>
	<label pos="57 -20" z-index="0" size="50 5" text="" textsize="1" valign="center2" textemboss="1" textcolor="AAA" id="LABEL_VERSION"/>
	<frame pos="0 -8">
		<frame>
			<quad z-index="0" size="90 10" halign="center" valign="bottom" style="Bgs1" substyle="BgCard" scriptevents="1" modulatecolor="036" id="QUAD_BUTTON_CREATECHALLENGE"/>
			<label pos="0 4.5" z-index="1" size="90 10" text="{{{{CREATE_CHALLENGE}}}}" valign="center2" halign="center" textfont="RajdhaniMono"/>
			<quad z-index="2" size="90 10" halign="center" valign="bottom" style="Bgs1" substyle="BgWindow4" id="QUAD_BUTTON_CREATECHALLENGE_FLASH" opacity="0"/>
		</frame>
		<frame pos="-0.5 -1">
			<quad z-index="0" size="44.5 10" halign="right" style="Bgs1" substyle="BgCard" scriptevents="1" modulatecolor="036"/>
			<label pos="-22.25 -5.25" z-index="1" size="44 10" text="{{{{REPLAYS}}}}" valign="center2" halign="center" textfont="RajdhaniMono"/>
			<quad z-index="2" size="44.5 10" halign="right" style="Bgs1" substyle="BgWindow4" id="QUAD_BUTTON_REPLAYS_FLASH" opacity="0"/>
		</frame>
		<frame pos="0.5 -1">
			<quad z-index="0" size="44.5 10" halign="left" style="Bgs1" substyle="BgCard" scriptevents="1" modulatecolor="800" id="QUAD_BUTTON_EXIT"/>
			<label pos="22.25 -5.25" z-index="1" size="44.5 10" text="{{{{EXIT}}}}" halign="center" valign="center2" textfont="RajdhaniMono"/>
			<quad z-index="2" size="44.5 10" halign="left" style="Bgs1" substyle="BgWindow4" id="QUAD_BUTTON_EXIT_FLASH" opacity="0"/>
		</frame>
	</frame>
</frame>